/* ------ HEADER ------ */

header {
  text-align: center;
  background-color: rgb(168, 14, 14);
  color: white;
  height: 250px;
}

header h1 {
  width: 45vw;
  margin: auto;
  font-size: 50px;
}

.title {
  width: 50vw;
  margin: auto;
}

.nav {
  position: absolute;
  margin-left: 1vw;
  font-size: 30px;
  height: 20vw;
  color: black;
  background-color: white;
  border: 2px solid black;
  width: 18vw;
}

.nav a {
  text-decoration: none;
}

span {
  color: black;
}

.nav span {
  color: rgb(168, 14, 14)
}

h2 {
  text-align: center;
}

/* ------ MAIN (home) ------ */

.dept-list {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  margin: 10px;
}

.dept {
  text-align: center;
  padding: 10px;
}

.dept-name {
  height: 3vw;
}

.dept-image {
  height: 15vw;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}

.home-images {
  width: 100%;
  height: 100%;
}

/* ------ DEPT PAGE ------ */

.dept-images {
  width: 30vw;
}

/* ------ ART DETAILS ------ */

.art-details {
  text-align: center;  
}

.primary-image {
  width: 75vw;
}



/* ------ FOOTER ------ */

.footer {
  background-color: rgb(168, 14, 14);
  color: white;
  text-align: center;
  height: 9vw;
  padding-top: 1vw;
}